<%- layout("layout/boilerplate") %>
<h1>Members Only</h1>
<% if (currentUser) { %>
<p>User: <%= currentUser.username %></p>
<p>Password: <%= currentUser.password %></p>
<p>Is Member: <%= currentUser.isMember %></p>
<p>Is Admin: <%= currentUser.isAdmin %></p>

<main>
  <% for (let message of messages) { %>
  <section>
    <h2><%= message.title %></h2>
    <% if (currentUser && currentUser.isMember) {%>
    <h5>By: <%= message.author.username %></h5>
    <% } %>
    <p><%= message.text %></p>
    <% if (currentUser && currentUser.isMember) {%>
    <p><em><%= message.time %></em></p>
    <% } %> <% if (currentUser && currentUser.isAdmin) { %>
    <form method="POST" action="/delete/<%= message._id %>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </section>
  <% } %>
</main>
<a href="/newmessage">New Message</a>
<% } else { %>
<p><a href="/login">Login</a> to see messages</p>
<% } %> <% if (currentUser && currentUser.isMember) {%>
<!-- <p>You are a member</p> -->
<% } else if (currentUser && !currentUser.isMember) { %>
<p><a href="/membership">Become a member</a> to see authors and times</p>
<% } %>
